!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    = csrf_meta_tag
    %meta{ :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type" }
    %title
      = h(yield(:title) || "APP_NAME")
    = raw(include_javascripts(:common))
    = raw(include_stylesheets(:common, :media => 'all'))
    - admin_only do
      = raw(include_javascripts(:admin))
      = raw(include_stylesheets(:admin, :media => 'all'))
    = yield(:head)
  %body
    #loading
      = image_tag('layout/loading.gif', :alt => "Loading...")
    #doc
      #hd
        = render(:partial => "shared/header.html.haml")
      #bd
        #navigation.rounded
          = render(:partial => "shared/navigation.html.haml")
          = render(:partial => "shared/user.html.haml")
        #main.rounded
          #flash-messages
            = raw(flash_messages)
          = yield
      #ft
        = render(:partial => "shared/footer.html.haml")
    %iframe{ :src => "about:blank", :style => "height:0px;width:0px;visibility:hidden" }
      this frame prevents back forward cache
    = render(:partial => "shared/tracking.html.haml") if Rails.env.production?